---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
	description?: string;
	image?: string;
}

const {
	title,
	description = "A demo blog for a community of music producers and enthusiasts",
	image="/images/band.jpg",
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#134e4a" />
		<link rel="canonical" href={Astro.url} />
		<title>{title}</title>
		<meta property="og:description" content={description} />
		<meta property="og:image" content={image} />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={image} />
	</head>
	<body class="min-h-screen grid grid-rows-[auto,1fr,auto]">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
